.trend-title h1 {
  margin-top: 6%;
  color: #707070;
  font-size: 36px;
  text-align: center;
}

.intro h1 {
  color: #111;
  font-size: 33px;
  font-family: ABeeZee, sans-serif;
  font-weight: bold;
  margin-top: 5%;
}

.intro p {
  font-weight: lighter;
  font-family: Cabin, sans-serif;
  font-size: 20px;
  color: #707070;
}

.trend-category {
  font-size: 15px;
  font-family: Rajdhani, sans-serif;
  color: #707070;
  font-weight: 600;
}

.trend-heading {
  font-family: Allerta, sans-serif;
  font-size: 21px;
  color: rgba(17,17,17,0.93);
  padding-top: 2%;
}

.row.trending-blogs p {
  font-size: 18px;
  color: #707070;
  font-family: Antic, sans-serif;
  padding-top: 2%;
}

.trend-img {
  width: 100%;
  height: auto;
}

.col-md-6.trending-blogs-image {
  height: auto;
  /*width: 40%;*/
}

.trend-img-avatar {
  border-radius: 52%;
  height: 45%;
  width: 30%;
}

.rounded-circle {
  border-radius: 50%!important;
}

.author .name {
  font-family: Rajdhani, sans-serif;
  font-weight: bold;
  margin-bottom: 2px;
  color: #707070;
  font-size: 16px;
}

.author img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
}

.author profile-img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
}

.author profile-img {
  max-width: 30px;
  float: left;
  margin-right: 12px;
}

.author profile-img {
  width: 40px;
}

.trend-views i {
  font-size: 18px;
  display: inline-block;
}

.trend-views-para {
  padding-left: 3%;
  font-family: Rajdhani, sans-serif;
  font-size: 16px !important;
  display: inline-flex;
}

.full-image {
  height: 35%;
}

.top-categories {
  text-align: center;
  font-size: 22px;
  color: #0CB600;
  width: 27%;
  margin-left: 3%;
  text-transform: uppercase;
  margin-top: 2%;
  padding: 0.5%;
  border-radius: 20px;
  background: #DEFFBF;
}

.fancy {
  position: relative;
}

.fancy img {
  object-fit: cover;
  width: 100%;
  border-radius: 0px;
  height: 230px;
}

.hero-banner {
  background: url('../../assets/img/product-aeon-feature.jpg');
  background-size: cover;
  background-position: center center;
  padding: 0;
  color: #fff;
  /*overflow-x: hidden;*/
  display: block;
}

.hero-banner .container {
  padding: 200px 20px;
  position: relative;
}

.banner-text h3 {
  font-size: 30px;
}

.banner-text h3 {
  font-size: 30px;
}

.banner-text h3 {
  font-size: 30px;
}

.banner-text a {
  text-decoration: none;
  font-size: 15px;
}

.banner-text a {
  font-size: 18px;
  text-decoration: underline;
  color: white;
}

.banner-text p {
  color: white;
  text-transform: uppercase;
  margin-top: 3%;
}

.banner-text p:hover {
  font-size: 19px;
}

.widget-popular {
  margin-bottom: 10%;
  border-radius: 10px;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
}

.widget-cat-list:hover {
  background: #0086ff1a;
  border-color: #50a6f44a;
}

.widget-tag-list:hover {
  background: #999;
  color: #fff;
  border-color: #999;
}

.widget-tag {
  margin-bottom: 10%;
  padding: 30px;
  border: 1px solid #eee;
  border-radius: 10px;
  background: #0fe4151a;
}

.widget-cat {
  top: 10px;
  margin-bottom: 10%;
  position: sticky;
  padding: 30px;
  border: 1px solid #eee;
  background: #0fb1e21a;
  border-radius: 10px;
}

.widget-tag h1 {
  font-size: 22px;
  color: #757980;
  margin-bottom: 6%;
}

.widget-cat h1 {
  font-size: 22px;
  color: #757980;
  margin-bottom: 6%;
}

.widget-tag-list {
  padding: 5px 25px;
  border: 1px solid #ddd;
  color: #777;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
}

.widget-cat-list {
  padding: 5px 25px;
  border: 1px solid #ddd;
  color: #777;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border-radius: 10px;
}

.article-list .item .name {
  font-size: 20px;
  font-family: Allerta, sans-serif;
  margin-top: 20px;
  color: #707070;
}

.popular-blog {
  border: 0.2px solid #dddddd;
}

.author {
  margin-top: 4%;
}

::-webkit-scrollbar {
  background: transparent;
  width: 8px;
}

::-webkit-scrollbar-thumb {
  background: rgba(117,121,128,0.53);
  border-radius: 10px;
}

::-webkit-scrollbar-corner {
  border-radius: 10px;
}



/****** ================= 2layout ======================== 
=========================================================*/

.widget-tag h1 {
  font-size: 22px;
  color: #757980;
  margin-bottom: 6%;
}
.rounded-circle {
  border-radius: 50%!important;
}

.article-clean {
  color: #56585b;
  background-color: #fff;
  font-family: 'Lora', serif;
  font-size: 14px;
}

audio, canvas, iframe, img, svg, video {
  vertical-align: middle;
}

audio, canvas, img, video {
  max-width: 100%;
  height: auto;
  box-sizing: border-box;
}
img {
  border-style: none;
}


.col-md-6.trending-blogs-image {
  height: auto;
  width: 50%;
}


.author img {
  max-width: 40px;
  float: left;
  margin-right: 12px;
}

.widget-search h1 {
  font-size: 22px;
  color: #757980;
  margin-bottom: 6%;
}

.widget-search-bar {
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  /*border-bottom: 1px solid #ddd;*/
  font-size: 13px;
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
  background: none;
}

.widget-search-button {
  color: #505e6c;
  background: none;
  border: none;
}


.widget-tag-list {
  padding: 5px 25px;
  border: 1px solid #ddd;
  color: #777;
  font-size: 0.75em;
  text-transform: uppercase;
  font-weight: 600;
  text-decoration: none;
  border-radius: 50px;
}

.widget-popular {
  margin-bottom: 10%;
  padding: 30px;
}

.widget-popular h1 {
  font-size: 22px;
  color: #757980;
  margin-bottom: 6%;
}

.name {
  font-size: 20PX;
}

.description {
  font-size: 14px;
}

.author img {
  width: 25px;
}

.popular-category {
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 5%;
}

.popular-heading {
  color: #7d8285;
  padding-top: 3%;
  font-size: 17px;
}
.popular-blogs {
  margin-top: 2%;
  margin-bottom: 2%;
}

.popular-img {
  height: auto;
  overflow: hidden;
}


@media screen and (max-width:430px) {
  .row.trending-blogs {
    margin-top: 20%;
  }
  .col-md-6.trending-blogs-image {
    height: auto;
    width: 100%;
  }
  .trend-img {
    width: 95%;
    height: auto;
  }
  .trend-views i {
    font-size: 17px;
  }
  .col-md-6.trending-blogs-image {
    height: auto;
    width: 100%;
}
.profile-blog-heading {
  font-size: 20px;
}
.author .name {
  font-size: 12px;
}
.widget-search{
  margin-top:10%
}
.intro p{
  font-size: 16px;
}

}


@media screen and (min-width:990px) and (max-width:1200px) {
  .profile-blog-heading {
    font-size: 20px;
  }
  .popular-heading{
    font-size:13px ;
  }
  .trending-blogs p {
    font-size: 14px;
  }
  .popular-category{
    font-size: 10px;
  }
  .row.trending-blogs p{
    font-size: 14px;
  }
  .trend-heading{
    font-size: 18px;
  }
  .author .name {
    font-size: 12px;
  }


}
